body {
    font-family: 'Poppins';
}

.wd-magnifying-glass {
    position: absolute;
    margin-left: 20px;
    margin-top: 10px;
    color: rgb(110, 118, 125);
}

.wd-centered {
    position: relative;
    margin-top: 11px;
}

.wd-search-bar {
    padding-left: 60px;
    border-radius: 24px;
    font-size: 16px;
    color:rgb(110, 118, 125);
    background-color:rgb(245, 248, 250);
    border-style: none;
}

.wd-border-radius-24 {
    border-radius: 24px;
}

.wd-z-index {
    z-index: 100;
    position: absolute;
}

.wd-text-overlay {
    position: absolute;
    z-index: 10;
    bottom: 0;
    width: 100%;
    left: 10px;
}

.wd-position-rel {
    position: relative;
    max-height: 400px;
    width: 100%;
}

.wd-left .list-group-item {
    border-style: none;
}

.wd-left .active {
    background-color: white;
    color: black;
    font-weight: bold;
}

.fa-twitter {
    color: rgb(29, 161, 242);
}

.btn#tweet-button {
    background-color: rgb(29, 161, 242);
    border-color:rgb(29, 161, 242);
}

.fa-circle-check {
    color:rgb(29, 161, 242);
}

.fa-gear {
    color:transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

.btn#follow-button {
    background-color: black;
    border-color: black;
    font-weight: bold;
}

.wd-right .list-group-item {
    border-style: none;
    background-color: rgb(245, 248, 250);
}

.wd-right .wd-rounded-top {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.fa-home {
    color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

.wd-right .wd-rounded-bottom {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.wd-middle .list-group-item {
    border: none;
    border-color:rgb(245, 248, 250);
}

.wd-middle .wd-straight-top {
    border-top-left-radius: 0px;
    border-top: 1px;
    border-top-style: solid;
    border-top-right-radius: 0px;
    border-color:rgb(245, 248, 250);
}

.wd-middle .wd-straight-bottom {
    border-bottom: 1px;
    border-color:rgb(245, 248, 250);
    border-bottom-style: solid;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.wd-middle .nav-tabs {
    border-bottom: none;
}

.wd-middle .nav-link {
    color:rgb(110, 118, 125);
}

.wd-middle .nav-item .active {
    color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    /* border-bottom: solid; */
    /* border-bottom-width: 3px;
    border-bottom-color:rgb(29, 161, 242); */
}

.wd-blue-border {
    border-width: 2px;
    border: solid;
    border-radius:12px;
    border-color:rgb(29, 161, 242);
}

.wd-explore {
    border-left-style: solid;
    border-right-style: solid;
    padding-left: 0px;
    padding-right: 0px;
    border-color:rgb(245, 248, 250);
    border-width: 1px;
}