body {
    background-color: black;
    font-family: Arial, sans-serif;
}

.wd-explore {
    padding-top: 12px;
    border-style: solid solid solid solid;
    border-color: rgb(47, 51, 54);
}

.wd-search input {
    border-radius: 50px;
    color: white;
    padding-left: 40px;
    background-color: #212121;
    padding-right: 10px;
    min-width: 80%;
    max-width: 90%;
    height: 30px;
    border: none;
    border-color: rgb(47, 51, 54);
}

.wd-search .wd-search-icon {
    z-index: 10;
    position: absolute;
    margin-top: 9px;
    margin-left: 14px;
    color: rgb(110, 118, 125);
}

.wd-search .wd-settings {
    float: right;
    position: relative;
    height: 30px;
    color:rgb(29, 161, 242);
    margin-right: 12px;
    margin-top: 7.5px;
    z-index: 10;
    color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(108, 217, 254);
}

.wd-categories {
    border-bottom-style: solid;
    border-color: rgb(47, 51, 54);
    overflow: auto;
}

.wd-categories a {
    float: left;
    color: rgb(110, 118, 125);
    padding: 16px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.wd-categories .wd-selected {
    color: rgb(29, 161, 242);
    border-width: 5px;
    border-bottom-color: rgb(29, 161, 242);
    border-bottom-style: solid;
}

.wd-trending {
    padding-bottom: 10px;
    border-bottom-color: rgb(47, 51, 54);
    border-bottom-style: solid;
}

.wd-topic {
    color: rgb(110, 118, 125);
    font: 13px Arial, sans-serif;
}

.wd-topic-name {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    font-size: 15px;
}

.wd-title {
    margin-top: 10px;
}

.wd-article {
    border-bottom-color: rgb(47, 51, 54);
    border-bottom-style: solid;
}

.wd-article .wd-topic-name {
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    font-size: 15px;
}

.wd-article .wd-company {
    margin-left: 16px;
    color: white;
    font-size: 13px;
}

.wd-article .wd-time {
    color: rgb(110, 118, 125);
}

.wd-article .wd-article-image {
    height: 100px;
    width: 100px;
    margin-right: 16px;
    margin-top: 10px;
    margin-bottom: 10px;

    /* Makes this go all the way to the right */
    margin-left: auto;

    border: none;
    border-radius: 10px;
}